<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name ="ApplicationServices"
         connectionString="Data Source=WINCTRL-6VBD92R\SQLEXPRESS;Initial Catalog=handbag;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="conn" connectionString="sever=.\aqlexpress;database=handbage;integrated security=SSPI" providerName="System.Data.SqlClient"/>
         
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
